<div class="container">
  <ng-container *ngFor="let user of users">
    <mat-card>
        <mat-card-title>{{user.name}}</mat-card-title>
        <mat-card-content>
            <p>
              E-mails: {{user.email}}
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button color="warn" (click)="deleteUser(user.id)">Delete</button>
          <button mat-button color="primary">Edit</button>
        </mat-card-actions>
    </mat-card>
    </ng-container>
</div>
